/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: rgba(0, 19, 37, 0.972549);
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    -webkit-transition:color 250ms, opacity 250ms;
    -moz-transition:color 250ms, opacity 250ms;
    -o-transition:color  250ms, opacity 250ms;
    transition:color 250ms, opacity 250ms;
}
a:hover {text-decoration:none;}
a:focus {
    outline: 0 none !important;
    text-decoration:none !important;}

.clear {clear:both;}
.clear-left {clear:left;}
.clear-right {clear:right;}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Raleway', sans-serif !important;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif !important;
}
img{ max-width:100%;}
/*////header////*/

#header {
    position:fixed;
    height:149px;
    background:rgba(0, 19, 37, 0.973);
    width:100%;
    padding:20px 0;
    z-index:999;
    top:0;

    -moz-box-shadow:    0 1px 4px 1px #181818;
    -webkit-box-shadow: 0 1px 4px 1px #181818;
    box-shadow:         0 1px 4px 1px #181818;
}




.container-fluid {
    padding-left:0px !important;
    padding-right:0px !important;
    font-family: 'Raleway', sans-serif;
    position:relative;
    z-index:5;
}
.row {
    margin-left:0px !important;
    margin-right:0px !important;
}

.logo {
    width:335px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 auto;
    display:block;

}
.logo-full {display:block;}

.logo-icone {display:none;}

.logo img {
    width:100%;
}

.menu-wrap-right {
    display: block;
    margin-top: -49px;
    position: absolute;
    right: 50px;
    top: 50%;
    text-align:right;
    
}

.lang-link {
    color:#fff;
}
.lang-link:hover{
    color:#fff;
    text-decoration:underline;
}
.lang-picker {
    color: #fff;
    display: block;
    font-size: 14px;
    margin-bottom: 25px;
    vertical-align: top;
}
#nav-toggle {
    display: block;
    float: right;
    height: 38px;
    padding: 6px;
    position: relative;
    width: 47px;
    margin-top: -4px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: 20px;
}
#nav-toggle span:after {
  bottom: -10px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*foldout menu*/


#fold-out-menu {
    background: #fff;
    overflow: scroll;
    position: fixed;
    top: 148px;
    width: 100%;
    z-index: 100;
    bottom:10%;
    -moz-box-shadow:    0 1px 4px 1px #181818;
    -webkit-box-shadow: 0 1px 4px 1px #181818;
    box-shadow:         0 1px 4px 1px #181818;

}
.fold-inner-wrap {
    padding:60px;
    width:100%;
}
.fold-menu {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fold-menu.hiding {
    height:0;

}
.fold-menu.showing {
    height:80%;

}

.fond-filigrane {
    background: rgba(255, 255, 255, 1) url("../img/fond_site_filigrane.png") no-repeat scroll center center / contain;
    bottom: 20%;
    left: 20%;
    position: absolute;
    right: 20%;
    top: 20%;
    z-index: 1;
}
#fold-out-menu h2{
    font-weight:bold;
    color:#002d56;
    text-transform:uppercase;
}
.lang-picker-menu {
    margin:0 0 50px 0;
    position:relative;
    z-index:20;
}
.lang-picker-menu span {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    color:#002d56;
}
.lang-picker-menu a {
    color:#002d56;
}
.lang-picker-menu a:hover {
    color:#ee3a43;
    text-decoration:none;
}

.tbl-contents-wrap {
    font-family: 'Raleway', sans-serif;
    position:relative;
    z-index:20;
}
.table-contents-link {
    color: #002d56;
    display: block;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
    padding: 2px 0;
}
a.table-contents-link:hover {
    color:#ee3a43;
    text-decoration:none;
}
.extrabold {
    font-size: 34px;
    font-weight: bold;
}
/*fin foldout menu*/

/*/// general style///*/

.gradient {
    display:block;
    width:100%;
    -webkit-box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
box-shadow: 0 3px 30px 7px rgba(0, 0, 0, 0.9);
z-index:5;
position:relative;

}

/*fonts*/
.title {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}

.text-reg {
    font-family: "Raleway",sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2em;
}

.section-class {
    margin:0px 0 130px;
}

.content-box {
    overflow: hidden;
}
.model1.content-box {
    background:#fff;
}
.model2.content-box {
    background:#fff;
}
.model3.content-box {
    background: #fff;
}
.model4.content-box {
    background: #fff;
}
.model5.content-box {
    background: #fff;
}
.model6.content-box {
    background: #fff;
}
/*shares*/

.shares {
    font-size: 25px;
    margin: 20px 0;
    position: relative;}
.shares p{padding:0;margin:0;}
.fbshare {
    display: inline-block;
    top: 0;
    vertical-align: top;
}

.tw-share {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}



/*  Intro style */

/*slider style*/
.bx-wrapper {
    margin: 140px auto 0 !important;
    position: relative;
    width: 100%;
}

.bx-wrapper .bx-viewport {
    height: 750px !important; 
    background: transparent !important;
    border: 0px solid transparent !important;
    box-shadow: 0 0 0px #ccc !important;
    left: 0px !important;
    transform: translateZ(0px);
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 14px !important;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 100 !important;
}
/* slides */
.slide1 {
    background:url('../img/fond-intro.png');
    background-size:cover;
    height:750px;

}
.slide1 img {
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: -147px;
    max-width: 408px;
    position: absolute;
    right: 88px;
    top: 50%;
}
.slide2 {
    background:url('../img/slide2.jpg');
    background-size:cover;
    height:750px;
}
.slide3 {
    background:url('../img/slide3.png');
    background-size:cover;
    background-position:center;
    height:750px;
}

.slide4 {
    background:url('../img/slide4.png');
    background-size:cover;
    height:750px;
}

.container-fluid {
    background: rgba(0, 0, 0, 0) url("../img/fond-site.jpg") repeat fixed center center / cover ;
}

#intro {
    background:url('../img/fond-intro.png');
    width:100%;
    height:750px;
    background-size:cover;
    background-position:-211px center;
    margin-top:140px;
    position:relative;
    display:none;
    
}

.title-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 408px;
    padding: 70% 30px 0;
    position: relative;

}

.subtitle-intro {
    
}

.scroll-btn {
    bottom: 48px;
    color: #fff;
    display: block;
    font-size: 24px;
    line-height: 0.4em;
    font-weight: bold;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    max-width: 393px;
    padding: 0 20px;
    
}
.scroll-btn:before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/iconset/scroll-down.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 55px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 52px;
}
.scroll-btn:hover {
    text-decoration:none;
    opacity:0.8;
    color:#fff;
}


/* Item1 */

.anchor-offset {
    display: block;
    position: relative;
    top: -220px;
    visibility: hidden;
}



.model1 {
    position:relative;
}

.model1.paging {
    font-size: 110px;
    font-weight: 900;
    left: -16px;
    line-height: 84px;
    position: absolute;
    top: 18px;
    color:#ee3a43;
    opacity:0.2;
}

.model1.title {
    color: #002d56;
    font-size: 34px;
    line-height: 35px;
    margin-top: 50px;
    position: relative;
    text-transform: uppercase;
}

.model1.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.model1.text-reg {
    
}

.model1.float-left {
    float:none;
}
.model1.float-right {
    float:none;
}

.model1.quote-narrow {
    color: #ee3a43;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
.model1.quote-narrow:before {
    content: "«";
    font-size: 65px;
    font-weight: 700;
    left: -49px;
    line-height: 16px;
    padding-right: 10px;
    position: absolute;
    top: 0;
}
.model1.quote-narrow:after {
    bottom: 20px;
    content: "»";
    font-size: 65px;
    font-weight: 700;
    line-height: 1px;
    padding-left: 10px;
    position: absolute;
    right: -42px;
}

.model1.image-side {
    max-width:350px;
    display:block;
    margin:10px auto;
    width:100%;
}

.model1.photo-caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    padding: 0 8px;
    width: 100%;
}

.model1.open-btn {
    display:block;
    width:100%;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    padding:20px;
    background:#ee3a43;
    z-index:15;
}
.model1.open-btn:hover {
    text-decoration:none;
    opacity:0.8;
}
.model1.open-btn .closed:before {
    background-image: url("../img/iconset/read-plus.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}
.model1.open-btn .opened:before {
    background-image: url("../img/iconset/read-less.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}

.gradient {
    display:block;
    width:100%;
    top: -71px;
    position:relative;
    -webkit-box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
box-shadow: 0 3px 30px 7px rgba(0,0,0,0.75);
box-shadow: 0 3px 30px 7px rgba(0, 0, 0, 0.9);

}

.model1 p{
    text-align:justify;
}
h2.model1 {}
h3.model1 {
    font-size:19px;
    color:#ee3a43;
}

/* fin item1*/


/* debut item 2*/
.model2.title-bar {
    background: #002d56 none repeat scroll 0 0;
    color: #fff;
}
.arrow-down {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #002d56;
    height: 0;
    margin: 0 auto 25px;
    width: 0;
}


.anchor-offset {
    display: block;
    position: relative;
    top: -220px;
    visibility: hidden;
}



.model2 {
    position:relative;
}

.model2.paging {
    color: #fff;
    font-size: 110px;
    font-weight: 900;
    left: -16px;
    line-height: 84px;
    opacity: 0.7;
    position: absolute;
    top: 18px;
}

.model2.title {
    color: #fff;
    font-size: 34px;
    line-height: 35px;
    padding: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin:0 !important;
}

.model2.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#ee3a43;
}

.model2.text-reg {
    
}

.model2.float-left {
    float:none;
}
.model2.float-right {
    float:none;
}

.model2.quote-narrow {
    color: #ee3a43;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
.model2.quote-narrow:before {
    content: "«";
    font-size: 65px;
    font-weight: 700;
    left: -49px;
    line-height: 16px;
    padding-right: 10px;
    position: absolute;
    top: 0;
}
.model2.quote-narrow:after {
    bottom: 20px;
    content: "»";
    font-size: 65px;
    font-weight: 700;
    line-height: 1px;
    padding-left: 10px;
    position: absolute;
    right: -42px;
}

.model2.image-side {
    max-width:350px;
    display:block;
    margin:10px auto;
    width:100%;
}

.model2.photo-caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    padding: 0 8px;
    width: 100%;
}

.model2.open-btn {
    display:block;
    width:100%;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    padding:20px;
    background:#ee3a43;
    z-index:15;
}
.model2.open-btn:hover {
    text-decoration:none;
    opacity:0.8;
}
.model2.open-btn .closed:before {
    background-image: url("../img/iconset/read-plus.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}
.model2.open-btn .opened:before {
    background-image: url("../img/iconset/read-less.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}



.model2 p{
    text-align:justify;
}
h2.model2 {}
h3.model2 {
    font-size:19px;
    color:#002d56;
}
.red {
    background:#ee3a43;
}
.corner-box {
    color: #fff;
    display: block;
    font-size: 21px;
    font-weight: 700;
    max-width: 345px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    position:relative;   
    margin: 25px auto;
}
.corner-box:before{
    border-bottom: 30px solid white;
    border-right: 30px solid #ee3a43;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}
.corner-box:hover {
    text-decoration:none;
    color:#fff;
    opacity:0.8;
}
.boardlist {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
}
.boardlist p {
    text-align: left;
}
.boardlist:hover {
    opacity: 1;
}
.boardlist a {
    color: white;
    text-decoration: underline;
}
a.a-red:focus, a.a-red:hover{
    color: #23527c;
    text-decoration: underline;
}

/* finitem 2*/

/* debut model 3 */

.model3.title-bar {
    height:320px;
    width:50%;
    background:#ee3a43;
    display:inline-block;
    position:relative;
}
.model3.title {
    display: block;
    float: right;
    font-family: "Raleway",sans-serif;
    font-size: 49px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    width: 347px;
    color:#002d56;
    padding: 10px 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 !important;
}
.model3.paging {
    font-size: 110px;
    font-weight: 900;
    left: -16px;
    line-height: 84px;
    position: absolute;
    top: 18px;
    color:#fff;
    opacity:0.2;
}

.model3.feat-image {
    background: rgba(0, 0, 0, 0) url("../img/services-sociaux.png") repeat scroll 0 0 / cover ;
    display: block;
    float: right;
    height: 320px;
    width: 50%;
}

.model3.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 25px;
    color:#ee3a43;
}
.model3 p{
    text-align:justify;
}
h2.model3 {}
h3.model3 {
    font-size:19px;
    color:#002d56;
}
.model3.text-reg {
    
}

.model3.float-left {
    float:none;
}
.model3.float-right {
    float:none;
}

.model3.quote-narrow {
    color: #ee3a43;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
.model3.quote-narrow:before {
    content: "«";
    font-size: 65px;
    font-weight: 700;
    left: -49px;
    line-height: 16px;
    padding-right: 10px;
    position: absolute;
    top: 0;
}
.model3.quote-narrow:after {
    bottom: 20px;
    content: "»";
    font-size: 65px;
    font-weight: 700;
    line-height: 1px;
    padding-left: 10px;
    position: absolute;
    right: -42px;
}

.model3.image-side {
    max-width:350px;
    display:block;
    margin:10px auto;
    width:100%;
}

.model3.photo-caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    padding: 0 8px;
    width: 100%;
}

.model3.open-btn {
    bottom: 73px;
    color: #fff;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 50% !important;
    z-index: 15;
}
.model3.open-btn.diff {
    display:block;
    width:100% !important;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    padding:20px;
    background:#002d56;
    z-index:15;
    bottom:0;
}

.model3.open-btn:hover {
    text-decoration:none;
    opacity:0.8;
}
.model3.open-btn .closed:before {
    background-image: url("../img/iconset/read-plus.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}
.model3.open-btn .opened:before {
    background-image: url("../img/iconset/read-less.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}

/* fin model 3*/



/* debut model 4 */

.model4.title-bar {
        width:100%;
        height:320px;
    background:#002d56;
    display:inline-block;
    position:relative;
    }
.model4.open-btn {
        width:100% !important;
        float: none;    
    }

.model4.title {
    margin:0 auto;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 49px;
    font-weight: 700;
    line-height: 1.2em;
    text-align:center;
    text-transform: uppercase;
    width: auto;
    color:#fff;
    padding:33px 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.model4.paging {
    font-size: 110px;
    font-weight: 900;
    left: -16px;
    line-height: 84px;
    position: absolute;
    top: 18px;
    color:#fff;
    opacity:0.2;
}

.model4.feat-image {
    background: rgba(0, 0, 0, 0) url("../img/services-sociaux.png") repeat scroll 0 0 / cover ;
    display: block;
    float: right;
    height: 320px;
    width: 50%;
}

.model4.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 25px;
    color:#ee3a43;
}
.model4 p{
    text-align:justify;
}
h2.model4 {}
h3.model4 {
    font-size:19px;
    color:#002d56;
}
.model4.text-reg {
    
}

.model4.float-left {
    float:none;
}
.model4.float-right {
    float:none;
}

.model4.quote-narrow {
    color: #ee3a43;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
.model4.quote-narrow:before {
    content: "«";
    font-size: 65px;
    font-weight: 700;
    left: -49px;
    line-height: 16px;
    padding-right: 10px;
    position: absolute;
    top: 0;
}
.model4.quote-narrow:after {
    bottom: 20px;
    content: "»";
    font-size: 65px;
    font-weight: 700;
    line-height: 1px;
    padding-left: 10px;
    position: absolute;
    right: -42px;
}

.model4.image-side {
    max-width:350px;
    display:block;
    margin:10px auto;
    width:100%;
}

.model4.photo-caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    padding: 0 8px;
    width: 100%;
}

.model4.open-btn {
    bottom: 73px;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100% !important;
    z-index: 15;
}
.model4.open-btn.diff {
    display:block;
    width:100% !important;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    padding:20px;
    background:#002d56;
    z-index:15;
    bottom:0;
}

.model4.open-btn:hover {
    text-decoration:none;
    opacity:0.8;
}
.model4.open-btn .closed:before {
    background-image: url("../img/iconset/read-plus.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}
.model4.open-btn .opened:before {
    background-image: url("../img/iconset/read-less.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    height: 37px;
    margin-right: 9px;
    position: relative;
    vertical-align: middle;
    width: 36px;
}

/* fin model 4*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*queries articles split colonnes*/
@media only screen and (min-width:690px) {
    .float-left {
       float: left;
        width: 52%; 
    }
    .float-right {
        float:right;
        margin: 1% 5.5%;
        width: 37%;
    }
    .model1.float-left {
    float: left;
    width: 52%;
    }
    .model1.float-right {
    float: right;
    margin: 1% 5.5%;
    width: 37%;
    }
    .model2.float-left {
    float: left;
    width: 52%;
    }
    .model2.float-right {
    float: right;
    margin: 1% 5.5%;
    width: 37%;
    }
    .model3.float-left {
    float: left;
    width: 52%;
    }
    .model3.float-right {
    float: right;
    margin: 1% 5.5%;
    width: 37%;
    }
    .model4.float-left {
    float: left;
    width: 52%;
    }
    .model4.float-right {
    float: right;
    margin: 1% 5.5%;
    width: 37%;
    }
    


}



@media only screen and (max-width:800px) {
    .logo {
        margin-left: 15px;

    }
    .model3.title {
        float:none;
        margin:0 auto;
        padding:33px 50px;
        text-align:center;
        width:auto;
        
    }
    .model3.title-bar {
        width:100%;
    }
    .model3.open-btn {
        width:100% !important;
        float: none;    
    }
    .model3.feat-image {
    background: rgba(0, 0, 0, 0) url("../img/services-sociaux.png") repeat scroll center center / cover ;
    display: block;
    float: none;
    height: 183px;
    width: 100%;
    }

}
@media only screen and (max-width:600px) {
    .logo {
        width:200px;

    }
    #intro {
        display:block;
    }
    .bxslider, .bx-wrapper{ 
        display:none;}
    
}

@media only screen and (max-width:475px) {
    /*.logo-icone {
        display:block;
    }*/

    /*.logo-full {
        display:none;
    }*/

    /*.logo {
        width:45px;
    }*/
    .logo {
        width:150px;
    }
    /*header change*/
    #header {
        height:71px;
    }
    #nav-toggle {

    }
    #fold-out-menu {
        top:70px;
    }
    #intro {
        margin-top:70px;
    }

    /*.menu-wrap-right {
        margin-top:-12px;
        right:25px;
    }*/
    .menu-wrap-right {
        margin-top:-24px;
        right:25px;
    }

    /*.menu-wrap-right .lang-picker{display:none;}*/
    .menu-wrap-right .lang-picker{margin-bottom:5px;}

    .container-fluid {
    background: none;
    }


.background-div {
    background: rgba(0, 0, 0, 0) url("../img/fond-site.jpg") repeat scroll center center / cover ;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:-1;
}

.model3.title, .model4.title {
        font-size:30px;
    }


    


}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   ADDITIONS
   ========================================================================== */

.boardmember p {
    width: 30px;
    height: 30px;
    position: absolute;
    right:0;
    bottom: 0;
    background-color: #ee3a43;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}
.boardmember {
    height: 400px;
    background-size: cover;
}
@media screen and (max-width: 1200px) {
    .boardmember {
        width: 33%;
        float: left;
        height: 300px;
    }
}
@media screen and (max-width: 992px) {
    .boardmember {
        width: 33%;
        float: left;
        height: 250px;
    }
}
@media screen and (max-width: 768px) {
    .boardmember {
        width: 33%;
        float: left;
        height: 200px;
    }
}
@media screen and (max-width: 480px) {
    .boardmember {
        width: 33%;
        float: left;
        height: 150px;
    }
}
@media screen and (max-width: 320px) {
    .boardmember {
        width: 100%;
        float: left;
        height: 400px;
    }
}

#board-1 {
    background: url("../img/a1/board_1.jpg");
    background-size: cover;
}
#board-2 {
    background: url("../img/a1/board_2.jpg");
    background-size: cover;
}
#board-3 {
    background: url("../img/a1/board_3.jpg");
    background-size: cover;
}
#board-4 {
    background: url("../img/a1/board_4.jpg");
    background-size: cover;
}
#board-5 {
    background: url("../img/a1/board_5.jpg");
    background-size: cover;
}
#board-6 {
    background: url("../img/a1/board_6.jpg");
    background-size: cover;
}
#board-7 {
    background: url("../img/a1/board_7.jpg");
    background-size: cover;
}
#board-8 {
    background: url("../img/a1/board_8.jpg");
    background-size: cover;
}
#board-9 {
    background: url("../img/a1/board_9.jpg");
    background-size: cover;
}
#board-10 {
    background: url("../img/a1/board_10.jpg");
    background-size: cover;
}
#board-11 {
    background: url("../img/a1/board_11.jpg");
    background-size: cover;
}
#board-12 {
    background: url("../img/a1/board_12.jpg");
    background-size: cover;
}
#board-13 {
    background: url("../img/a1/board_13.jpg");
    background-size: cover;
}
#board-14 {
    background: url("../img/a1/board_14.jpg");
    background-size: cover;
}

#section-2 .quote-narrow {
    text-align: center;
}
#section-2 .quote-narrow:before {
    display: none;
}
#section-2 .quote-narrow:after {
    display: none;
}


#section-3 .row {
    text-align: center;
    display: inline-block;
}
#section-3 .col-md-12 {
    margin: 20px 0;
    max-width: 1200px;
    display: inline-block;
}
#section-3 .shares {
    text-align: left;
}

@media screen and (max-width: 480px) {
    #section-3 .col-sm-10.col-xs-10 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #section-3 .col-md-12 {
        width: 100%;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0;
    }
    #section-3 .col-md-12 img {
        max-width: 122%;
        margin-left: -40px;
    }
}

#section-4 .mandatory-video {
    margin-bottom: 40px;
    text-align: center;
}

#more-videos {
    margin-top: 20px;
}

.modal-content {
    width: 510px;
    margin-left: 90px;
}

@media screen and (min-width: 768px) {
    #link-video {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    #popup-video {
        display: none;
    }
    #more-videos {
        display: none;
    }
}
#section-5 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a5/parcels_1.jpg") repeat scroll 0 0 / cover ;
}

.procedure-number {
    float: left;
    background-color: #ee3a43;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-right: 10px;
}

.procedure-title {
    font-weight: 600;
}

#procedure-2 {
    background-color: rgba(238, 58, 67, .85);
}
#procedure-3 {
    background-color: rgba(238, 58, 67, .7);
}
#procedure-4 {
    background-color: rgba(238, 58, 67, .55);
}

#section-6 .float-right img {
    margin-bottom: 40px;
}

#section-7 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a7/womencaucus.png") no-repeat scroll center 0 / contain ;
}

.top-title {
    color: #002d56;
    font-weight: 700;
    text-transform: uppercase;
    /*font-size: 1.2em;*/
}

.author {
    color: grey;
}

@media screen and (min-width: 801px) {
    #section-7 .open-btn .closed:before {
        background-image: url("../img/iconset/read-plus.png");
    }

    #section-7 .open-btn .closed {
        color: #fff;
    }
}

.bottom-box {
    max-width: 100%;
    text-transform: none;
    font-weight: 200;
    text-align: left;
}
.bottom-box:hover {
    opacity: 1;
}
.bottom-box a {
    color: white;
    text-decoration: underline;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.article {
    margin-top: 40px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
@media screen and (max-width: 900px) {
    .article {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}
@media screen and (max-width: 550px) {
    .article {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

#section-9 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a9/armoured_1.jpg") repeat scroll center 0 / cover ;
}

.teamsters-bg {
    background: rgba(0, 0, 0, 0) url("../img/a10/teamsters-bg.jpg") repeat scroll 0 0 / contain ;
}

.no-corner-box {
    color: white;
    display: block;
    font-weight: 700;
    max-width: 345px;
    padding: 30px;
    text-align: center;
    position: relative;
    margin: 25px auto;
    background-color: #ee3a43;
}

.img-box {
    display: block;
    font-weight: 700;
    max-width: 345px;
    padding: 30px;
    text-align: center;
    position: relative;
    margin: 25px auto;
    margin-bottom: -80px;
    z-index: 999;
}

#section-10 .img-box {
    z-index: 1;
}

#section-11 .text-reg,
#section-12 .text-reg,
#section-14 .text-reg {
    max-width: 550px;
    margin: 25px auto;
}

#section-12 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a12/cinema.png") no-repeat scroll center 0 / contain ;
}
@media screen and (min-width: 801px) {
    #section-12 .model3.title {
        width: 450px;
    }
    #section-12 .open-btn .closed:before {
        background-image: url("../img/iconset/read-plus.png");
    }

    #section-12 .open-btn .closed {
        color: #fff;
    }
}
#section-12 .text-reg {
    max-width: 550px;
    margin: 25px auto;
}

@media screen and (min-width: 1200px) {
    #section-13 img {
        width: 50%;
    }
}

.red p {
    text-align: left;
}

#section-14 .fa-facebook-square,
#section-14 .fa-twitter-square,
#section-14 .fa-instagram,
#section-14 .fa-youtube-play {
    font-size: 1.5em;
}

#section-4 .fa-quote-left,
#section-15 .fa-quote-left,
#section-22 .fa-quote-left{
    position: absolute;
    margin-top: -15px;
    margin-left: -10px;
    opacity: .2;
    font-size: 3em;
}
#section-4 .fa-quote-right,
#section-15 .fa-quote-right,
#section-22 .fa-quote-right{
    position: absolute;
    margin-left: -20px;
    opacity: .2;
    font-size: 3em;
}

@media screen and (min-width: 801px) {
    #section-16 .model3.title {
        width: 400px;
    }
    #section-16 .open-btn .closed:before {
        background-image: url("../img/iconset/read-plus.png");
    }

    #section-16 .open-btn .closed {
        color: #fff;
    }
}

#section-16 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a16/legislative.png") no-repeat scroll center center / contain ;
}

#section-18 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a18/retail_1.jpg") no-repeat scroll center center / cover ;
}

#section-19 .text-reg {
    max-width: 550px;
    margin: 25px auto;
    margin-top: 40px;
}

@media screen and (min-width: 801px) {
    #section-22 .model3.title {
        width: 525px;
    }
}

#section-22 .feat-image {
    background: rgba(0, 0, 0, 0) url("../img/a22/haiti_1.jpg") no-repeat scroll center center / cover ;
}

#section-23 .float-right p {
    font-weight: 200;
}
#section-23 .text-reg img {
    max-width: 200px;
}
#section-23 .row {
    background: rgba(0, 0, 0, 0) url("../img/a23/items_bg_h.jpg") repeat scroll center center / 50%;
}
#section-23 .shares p,
#section-10 .shares p {
    color: #c5002c;
    text-shadow: 1px 0px 2px rgba(1, 1, 1, 0.9);
}

footer {
    text-align: center;
    background-color: white;
    height: 100px;
}

footer .footertext {
    padding-top: 40px;
}

.navigation {position:fixed; right:50px; top:350px;z-index: 99999}
.navigation a {color:black;}

/* Loader */
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #fff;
}

.spinner {
    margin: 400px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #002d56;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/* Scrollspy */

.anchor-nav ul {
    list-style: none;
}

@media screen and (max-width: 500px) {
    .anchor-nav {
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        background: #ee3a43;
        z-index: 999;
        box-shadow: 0 1px 4px 1px #181818;
    }
    .anchor-nav ul {
        margin-left: -40px;
    }
    .anchor-nav ul li {
        float: left;
        width: 50%;
        text-align: center;
        margin: 20px auto;
    }
    .anchor-nav a i {
        display: inline;
        text-align: center;
    }
    .anchor-nav a,
    .anchor-nav a:hover,
    .anchor-nav a:active,
    .anchor-nav a:visited {
        color: white;
        text-decoration: none;
    }
    #prev-link i {
    }
    #next-link i {
    }
}

@media screen and (min-width: 501px) {
    .anchor-nav {
        position: fixed;
        top: 45vh;
        right: 0;
        width: 60px;
        height: 100px;
        background: #ee3a43;
        z-index: 9;
        box-shadow: 0 1px 4px 1px #181818;
    }
    .anchor-nav ul {
        margin-top: 15px;
        padding: 0;
        text-align: center;
    }
    .anchor-nav a i {
        width: 30px;
        height: 30px;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
    }
    #prev-link i {
        padding-top: 6px;
    }
    #next-link i {
        padding-top: 8px;
        margin-top: 10px;
    }
}

.model2.float-right {
    z-index: 999;
}

/* SOCIAL BUTTONS */

.btn.btn-social {
    font-size: 12px;
    max-width: 100px;
    text-align: center;
    padding-left: 30px;
    display: inline-block;
    line-height: .6em;
    margin-top: 5px;
}

.btn:hover {
    color: white !important;
    text-decoration: none !important;
    opacity: .6;
}

.fa.fa-facebook,
.fa.fa-twitter {
    font-size: 1em;
    margin-top: -6px;
}

.merci {
    text-align: center;
}

.merci h4 {
    margin-bottom: 0;
}

.merci p {
    margin-bottom: 20px;
}


/* ==========================================================================
   COACHLINES
   ========================================================================== */
.coachlines {
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    height:100%;
    padding-right:45px;
    position:fixed;
    text-align:right;
    width:100%;
    z-index:1000;
    display:none;
}

.coachlines1 {
}

.select-lang {
    padding-right: 90px;
    padding-top: 10px;
}

@media screen and (min-width: 474px) {
    .select-lang {
        padding-right: 110px;
        padding-top: 20px;
    }
}

.select-lang p{
    padding-right: 20px;
    padding-top: 5px;
}

.use-nav {
    padding-right: 10px;
}

@media screen and (min-width: 474px) {
    .use-nav {
        padding-top: 30px;
    }
}

.use-nav p{
    padding-right: 35px;
    padding-top: 5px;
}

.coachlines2 {
    bottom: 68px;
    position: absolute !important;
    text-align: center;
}

@media screen and (min-width: 499px) {
    .coachlines2 {
        position: absolute !important;
        right:55px;
        text-align:right;
        top: 40vh;
    }
}

.use-nav-article-bottom, .use-nav-article-top {
    float: left;
    width: 50%;
}

.use-nav-article-bottom{
    padding-left:5px;
}

.use-nav-article-top {
    padding-right:5px;
}

.use-nav-article-bottom img.arrow-mobile, .use-nav-article-top img.arrow-mobile {
    display:inline-block;
}

.use-nav-article-bottom img.arrow-desktop, .use-nav-article-top img.arrow-desktop {
    display:none;
}

@media screen and (min-width: 499px) {
    .use-nav-article-bottom, .use-nav-article-top {
        float: none;
        width: 100%;
    }

    .use-nav-article-bottom img.arrow-desktop, .use-nav-article-top img.arrow-desktop {
        display:inline-block;
    }

    .use-nav-article-bottom img.arrow-mobile, .use-nav-article-top img.arrow-mobile {
        display:none;
    }

    .use-nav-article-top {
        padding-right:0;
    }

    .use-nav-article-top p{
        padding-right: 35px;
    }

    .use-nav-article-top img{
        -ms-transform: rotate(17deg); /* IE 9 */
        -webkit-transform: rotate(17deg); /* Chrome, Safari, Opera */
        transform: rotate(17deg);
    }

    .use-nav-article-bottom {
        padding-top: 45px;
        padding-left:0;
    }

    .use-nav-article-bottom p {
        padding-right: 25px;
        padding-top: 15px;
    }

    .use-nav-article-bottom img{
        -ms-transform: rotate(-31deg); /* IE 9 */
        -webkit-transform: rotate(-31deg); /* Chrome, Safari, Opera */
        transform: rotate(-31deg);
    }

}

/* ==========================================================================
   YOUTUBE VIDEO
   ========================================================================== */
.youtube-video .modal {
    padding-top: 140px;
}

.modal-backdrop{
    z-index:0!important;
}

.youtube-video .modal-content {
    margin-left:0;
    max-width:100%;
}

/* ==========================================================================
   BACK TO SITE
   ========================================================================== */

.site{
    position:absolute;
    left:40px;
    top:0;
}
.site a{
    display:none;
}
@media screen and (min-width: 499px) {
    .site a{
        color:#fff;
        text-decoration:underline;
        display:block;
    }
}
@media screen and (min-width: 992px) {
    .site{
        top:20px;
    }
}